
body {
    background-color: #51b4e4;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.links{
    background-color: white;
    width: 13vw;
    height: 28vh;
    margin:15px 45px;
    padding: 1px 5px;
    cursor: default;
    outline: 5px dashed black;
    position: absolute;
}

.content {
    text-align: center;
    font-size: 30px;
    background-color: white;
    cursor: default;
    outline: 5px dotted green;
    border-color: black;
}

.things{
    color: #222222;
    background-color: #6495ED;
    position: relative;
    bottom: 300px;
    left: 20px;
    font-size: 20px;
}

.pitcure{
    position: absolute;
    left: 350px;
    top: 175px;
}