body {
    background-color: #51b4e4;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    margin: 0;
}

.links {
    margin:0;
    background-color: white;
    width: 13vw;
    height: 40vh;
    margin:75px 75px;
    padding: 1px 5px;
    border-color: black;
    cursor: default;
}

.content {
    text-align: center;
    font-size: 30px;
    background-color: white;
    top: 60px;
    margin-top:5px;
    cursor: default;
}

.pitcure{
    display: inline-flex;
    margin: -355px 10px;
    float: right;
    width: 850px;
    height: 275px;
    background-size: 100px;
}

.pitcur {
    display: inline-flex;
    margin: -275px -585px;
    float: right;
    width: 850px;
    height: 300px;
    background-size: 100px;
}

.sent {
    display: inline-flex;
    margin: 250px -975px;
    position: relative;
    float: left;
    width: 850px;
    height: 180px;
    background-size: 10px;
}

.dent {
    display: inline-flex;
    margin: 250px 1000px;
    position: relative;
    float: left;
    width: 550px;
    height: 180px;
    background-size: 10px;
}